<li>
  <div class="profile-image">
    <%= image_link(comment.commenter, :image => :thumbnail) %>
  </div>
  <p class="meta published">
    <%= dog_link comment.commenter %> said
    <%= time_ago_in_words(comment.created_at) %> ago
    <%- if (current_person?(comment.commentable.owner) or
            current_person?(comment.commenter.owner)) -%>
      <%= link_to image_tag("icons/comment_delete.png", :class => 'actioner'), 
                  dog_comment_path(@dog, comment),
                  :method => :delete,
                  :confirm => 'Delete this wall comment?',
                  :title => 'Delete wall comment' %>
    <%- end -%>  
  </p>
  <%= display comment.body %>
  <div class="clear"></div>
</li>
