<%- column_div :type => :primary do -%>
  <h2><%= @dog.name %>'s Contacts</h2>
  <% if @dog.connections.count > Dog::MAX_DEFAULT_CONTACTS %>
    <div class='button see_all_link'>
      <%= link_to "See All Contacts", dog_connections_path(@dog) %>
    </div>
  <% end %>
  <%= render :partial => 'shared/contacts_grid',
             :locals => { :contacts => @dog.some_contacts } %>
  <%= render :partial => 'common_contacts' %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
<%- end -%>

<div class="clear"></div>