<h2><span class="fn n"><%= @dog.name %></span>'s Profile</h2>
<%- if current_person?(@dog.owner) || current_person.admin? -%>
  <div class="button_container">
<%- end -%>
<%- if current_person.admin? -%>
  <%- activity = activated_status(@dog) -%>
  <%= link_to activity,
              admin_dog_path(@dog, :task => "deactivated"),
              :method => :put %>
  <%= "|" if current_person?(@dog.owner) %>
<%- end -%>
<%- if current_person?(@dog.owner) -%>
  <%= link_to "Edit profile", edit_dog_path(@dog) %> |
  <%= link_to "Change photo", dog_galleries_path(@dog) %>
<%- end -%>
<%- if current_person?(@dog.owner) || current_person.admin? -%>
    <div class="clear"></div>
  </div>
<%- end -%>
<%- if admin? and not @dog.active? -%>
  <p class="error">This dog is not active</p>
<%- end -%>
<%- if current_person?(@dog.owner) && @dog.description.blank? -%>
  <div class="error">
    Your dog's description is blank.
    <%= link_to "Click here to add a description",
      edit_dog_path(@dog) %>
  </div>
<%- end -%>
 
<div class="toolbox">
  <%= image_tag @dog.main_photo, :class => "profile-image photo",
                                    :alt => h(@dog.name) %>
  <%- if logged_in? && !current_person.dogs.empty? && !( current_person?(@dog.owner) && current_person.dogs.size < 2 )-%>									
    <h3><%= @dog.name %></h3>
    <ul class="tools">
	  	<li>Connections with:
			<ul>
				<% current_person.dogs.each do |dog| %>
					<% unless dog == @dog %>
						<li><%=h dog.name %> - 
						        <%- unless Connection.exists?(@dog, dog) -%>
						          <%= link_to "Request Connection",
						                          dog_connections_path(@dog, :contact_id => dog.id ),
						                          :method => :post %>
						        <%- end -%>
						        <%- if Connection.connected?(@dog, dog) -%>
						          You're connected!
							          <%= link_to image_tag('icons/user_delete.png'),
							                      connection_path(Connection.conn(@dog,
							                                                      dog)),
							                          :method => :delete,
							                      :title => "Remove connection",
							             :confirm => "Are you sure you want to remove this connection?" %>
						        <%- end -%>
						          <%- if Connection.pending?(dog, @dog) -%>
						            <%= h @dog.name %> has contacted you
								            (<%= link_to "respond to contact request",
								                         edit_connection_path(Connection.conn(dog,
								                                                              @dog)) %>)
						          <%- end -%>
						          <%- if Connection.pending?(@dog, dog) -%>
						            You've contacted <%= h @dog.name %>
						          <%- end -%>
						</li>
					<% end %>
				<% end %>
			</ul>
		</li>
		<% if connected_to?(@dog) && !current_person?(@dog.owner) %>
			<li><%= email_link(@dog) %></li>
		<% end %>
    </ul>
  <%- end -%>
</div>
<%= display @dog.description %>