<h2><%= @dog.name %>'s Comment Wall</h2>
<a name="wall"></a>
<%- if connected_to?(@dog) -%>
  <p><%= formatting_note %></p>  
  <% form_for :comment, :url => dog_comments_path(@dog) do |f| %>
       <div class="form_row">
       	<%= f.label :from %>
        <%= f.select :commenter_id, @dogs.map{|d| [d.name, d.id]} %>
      </div> 
      <div class="form_row">
        <%= f.text_area :body, :rows => 2, :cols => 80 %>
      </div>
      <div class="form_row">
        <%= submit_tag "Submit", :class => "button" %>
      </div>
  <% end %>
<%- else -%>
  <p>
  You must be connected to <%= h @dog.name %> to leave a wall comment.  Go to the <%= link_to 'Profile', @dog %> tab to request a connection.
  </p>
<%- end -%>


<%- unless @dog.comments.empty? -%>
  <ul class="list comments full">
    <%= render :partial => 'comment', :collection => @dog.comments %>
  </ul>
<%- end -%>

