<%- unless dog.requested_contacts.empty? -%>
  <h2><%=h dog.name %>'s Contact Requests</h2>
  <ul class="list requests small">
    <%- dog.requested_contacts.each do |contact| -%>
      <%- conn = Connection.conn(dog, contact) -%>
      <li>
        <div class="profile-image">
          <%= image_link contact %>
        </div>
        <p><%= dog_link contact %></p>
        <p class="meta published">
          <%= time_ago_in_words(conn.created_at) %> 
          ago
        </p>
        <p>
          <%= link_to "Respond", edit_connection_path(conn) %> |
          <%= link_to "View profile", contact %>
        </p>
      </li>
    <%- end -%>
  </ul>
<%- end -%>