<% default_label = params[:address] || "Address or City" %>
<h2>Search <%= search_type %> by Address</h2>
<% form_tag address_searches_path, :method => :get, :id => "frmSearchAddress" do %>
  <fieldset title="Search Barkhood">
  	Within <%= select_tag :within, options_for_select(within_distances, params[:within]) %> of
    <%= text_field_tag :address, h(params[:address]), :id => "txtSearchAddress", :class => "txt",
                                          :maxlength => 100,
										  :style => "color:#aaa;",
      									  :value => default_label,
      									  :onfocus => "if($(this).val() == '#{default_label}'){$(this).val('');$(this).css('color', '#000');}",
      								      :onblur => "if($(this).val() == ''){$(this).val('#{default_label}');$(this).css('color', '#aaa');}" %>								  
    <%= submit_tag "Search", :name => nil, :id => "btnSearch",
                             :class => "button"  %>
    <%= hidden_field_tag "model", search_model %>
  </fieldset>
<% end %>
