<%= render :partial => 'searches/address' %>
<%= @map.div(:width => 744, :height => 400) %>
<%- column_div :type => :primary do -%>
  <% unless @dogs.empty? -%>
    <h2>Dogs</h2>
    <%= will_paginate @dogs %>
    <ul class="list dogs">
      <%= render :partial => @dogs %>
    </ul>
    <%= will_paginate @dogs %>
  <% end -%>
<%- end -%>