<li class="vcard person">
  <%= person_link person, :class => "url fn" %> &mdash;
  <%- activity = activated_status(person) -%>
  <%= link_to activity, 
              admin_person_path(person, :task => "deactivated"),
              :method => :put %>
  |
  <%- activity = person.admin? ? "unadmin" : "make admin" -%>
  <%= link_to activity, 
              admin_person_path(person, :task => "admin"),
              :method => :put %>
  <p class="person_meta">
  	<strong>Dogs (<%=h person.dogs.count %>):</strong>
	<% person.dogs.each do |dog| %>
		<%= dog_link_with_image dog %>
	<% end %>
  </p>
</li>