<div id="photos">
  <h2>Photos in <%= h(@gallery.title) %> Gallery</h2>
    <% unless @gallery.description.nil? %>
    <div class="gallery-description">
      <%- unless @gallery.description.blank? -%>
      <p><strong>Description:</strong> <%= @gallery.description %></p>
      <%- end -%>
    </div>
    <% end %>
  
    <p>
	  <% if current_person?(@gallery.person) || ( @gallery.owner.class.to_s == 'Group' && Membership.accepted_by_person?(current_person, @gallery.owner) ) %>
		  <%= link_to "Add photo", new_gallery_photo_path(@gallery) %> |
	  <% end %>
      <% if current_person?(@gallery.person)%>
        <%= link_to "Edit gallery", edit_gallery_path %> |
      <% end %>
      <%= link_to "All galleries", parent_path(@gallery.owner) %>
    </p>
  
    <%- if @photos.empty? -%>
    <h3>No photos (yet)
    <%- else -%>
      <ul>
        <%= render :partial=>"shared/photo", :collection => @photos %>
      </ul>
      <%= will_paginate(@photos) %>
    <%- end -%>
</div>